body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #343a40;
  box-shadow: 0 4px 6px -6px #222;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #f8f9fa;
  transition: color 0.2s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-hero__social {
  margin-bottom: 20px;
}

.home-hero__social-icon-link {
  width: 3%;
  display: block;
  padding: 1rem;
  border-radius: 5px;
}

.home-hero__social-icon__linkedin,
.home-hero__social-icon__github {
  width: 50px;
  height: auto;
  transition: transform 0.2s;
}

.home-hero__social-icon__github {
  border-radius: 25px;
}

.home-hero__social-icon:hover {
  transform: scale(1.1);
}

/* Jumbotron styles */
.bg-dark {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
}

.jumbotron-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Body container */
.body-container {
  padding: 40px;
  margin: 0 auto;
}

/* About Me and Skills section */
.about-skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80px;
}

.about-section,
.skills-section {
  flex: 1;
  min-width: 200px;
  margin: 100px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__skill {
  background-color: #6c757d;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.non-clickable {
  pointer-events: none;
  box-shadow: none !important;
  border-radius: 50px !important;
}

.btn-primary {
  border-color: transparent !important;
}

.heading-container {
  margin-bottom: 20px;
}

.styled-hr {
  border: 0;
  height: 1px;
  background: #fff;
  margin: 20px 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Contact section */
#contact {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 40px;
}

#contact .container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#contact .heading-sec__main {
  font-size: 2rem;
  margin-bottom: 20px;
}

#contact .heading-sec__sub {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#contact .heading-sec__sub a {
  color: #007bff; /* Blue link color */
  text-decoration: none;
}

#contact .heading-sec__sub a:hover {
  text-decoration: underline;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
  /* Hide sidebar on smaller screens */
  .sidebar {
    display: none;
  }

  .about-skills-container {
    flex-direction: column;
    margin-left: 0;
  }

  .about-section,
  .skills-section {
    margin: 20px 0;
  }

  .jumbotron-buttons {
    flex-direction: column;
  }

  .body-container {
    padding: 20px;
  }

  .row-cols-3 > .col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navbar-nav {
    text-align: center;
  }
}
